.app {
    width: 770px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px 0 15px;
}
.nav-bar {
    width: 323px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #003399;
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
}
.main {
    padding-bottom: 250px;
}
.number {
    text-align: center;
    font-size: 288px;
    color: #F27C0F;
}
.buttonsm {
    display: flex;
    margin: auto;
    width: 710px;
    justify-content: space-evenly;
}
.blue-btn, .orange-btn, .gray-btn {
    width: 200px;
    text-align: center;
    line-height: 58px;
    color: #fff;
    border-radius: 4px;
    background-color: #003399;
}
.orange-btn{
    background-color: #F27C0F;
}
.gray-btn {
    background-color: #E5E5E5;
}
.footer {
    width: 770px;
    position: absolute;
    bottom: 0;
    left: auto;
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    width: 300px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    line-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.copyright {
    width: 300px;
    text-align: end;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}
